
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');




html{
    text-align: center;
    background-color: white;
}



.wrapper div {
    background-color: black;
    grid-gap: 10px;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1135px;
    grid-template-rows: 445px;
    grid-template-areas: "first";
}


.first {
    grid-area: card;
}

.left-text{
    text-align: left;
    color: white;
    padding-top:0;
    padding-right: 10px;
    padding-left: 30px;
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    font-weight: bold;
}



