@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Poppins:wght@200&display=swap');


html{
    text-align: center;
    background-color: white;
}



.wrapper div {
    background-color: #382296;
    margin: 5px;
    border: 12px solid #141414;

}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 421px;
    grid-template-rows:339px;
    grid-template-areas: "card"
}

.card {
    grid-area: card;
}



h1 {
    color: rgba(255, 255, 255, 0.91);
    text-align: left;
    padding-left: 30px;
    padding-top: 35px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder
}




h2 {
    color:white;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

p {
    color: rgba(248, 248, 255, 0.84);
    text-align: left;
    padding-left: 30px;
    padding-top: 35px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.btn {
    margin-top: 20px;
    margin-right: 180px;
    border: 1px solid rgba(215, 215, 215, 0.42);
    background-color: transparent ;
    height: 45px;
    width: 150px;
    color: rgba(245, 245, 245, 0.93);
    font-size: 1rem;
    border-radius: 8px;
}
